<div class="tradelog-container">
    <div class="tradelog-options">
        <div class="spacer"></div>
        <app-upload-file></app-upload-file>
    </div>
    <!-- Row 1: Stats Cards -->
    <div class="stats-row">
        <!-- Card 1: Total Sales -->
        <div class="card">
            <h2>Total Trades</h2>
            <p>{{tradeMetrics.totalTrades}}</p>
        </div>

        <!-- Card 2: Revenue -->
        <div class="card">
            <h2>Win Percentage</h2>
            <p>{{tradeMetrics.winPercentage | round:true}}</p>
        </div>

        <!-- Card 3: Expenses -->
        <div class="card">
            <h2>Profit Factor</h2>
            <p>{{tradeMetrics.profitFactor | round}}</p>
        </div>

        <!-- Card 4: Profit -->
        <div class="card">
            <h2>Total Profit</h2>
            <p>{{tradeMetrics.totalProfit | currency: 'INR'}}</p>
        </div>

        <div class="card">
            <h2>Avg Holding Time</h2>
            <p>{{tradeMetrics.avgHoldingTime | holdingTime}}</p>
        </div>
    </div>

    <!-- Row 2: Chart Cards -->
    <div class="grid-row">
        <ag-grid-angular style="height: 100%; margin-top: 15px;" class="ag-theme-alpine" [rowData]="closedTradeRowData"
            [gridOptions]="tradelogGridOptions" [defaultColDef]="defaultColDef" [columnDefs]="colDefs"
            [suppressRowClickSelection]="false" [sideBar]="false" [pagination]="false"
            (gridReady)="onTradelogGridReady($event)">
        </ag-grid-angular>
    </div>
</div>