<!-- card.component.html -->
<div class="card">
    <div class="metric-card">
        <div class="divider"></div>
        <div class="metric-row">
            <span>
                <p>Type: {{transaction.trade_type}}</p>
            </span>
        </div>
        <div class="metric-row">
            <span>
                <p>Date: {{transaction.execution_timestamp_stamp | dateFormat: 'dd MMM yyyy'}}</p>
            </span>
        </div>
        <div class="metric-row">
            <span>
                <p>Time: {{transaction.execution_timestamp_stamp | dateFormat: 'HH:mm'}}</p>
            </span>
        </div>
        <div class="metric-row">
            <span>
                <p>Quantity: {{transaction.trade_quantity}}</p>
            </span>
        </div>
        <div class="metric-row">
            <span>
                <p>Price: {{transaction.trade_price}}</p>
            </span>
        </div>
        <div class="metric-row">
            <span>
                <p>Brokrage: {{transaction.brokrage}}</p>
            </span>
        </div>
    </div>
    <div class="card-content">
        <div *ngFor="let tradeImg of transaction.attachments" class="trade-img">
            <img *ngIf="tradeImg" [src]="tradeImg" alt="Image">
        </div>
    </div>
</div>