/* card.component.css */
.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metric-card {
    margin-top: 10px;
    display: flex;
    height: 100%;
    width: 100%;
}

.trade-img {
    display: flex;
    flex-wrap: wrap;
}

.metric-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
}