<div class="individual-container">
    <div class="trade-metrics">
        <div class="metric-card">
            <h1>
                {{trade.symbol}}
            </h1>
            <div class="divider"></div>
            <div class="metric-row">
                <span>
                    <p>Avg Buy Price</p>
                    <p>{{trade.avg_buy_price | currency: 'INR'}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Avg Sell Price</p>
                    <p>{{trade.avg_sell_price | currency: 'INR'}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Net Profit</p>
                    <p>{{trade.net_profit | currency: 'INR'}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Profit %</p>
                    <p>{{trade.profit_percentage | round:true}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Quantity</p>
                    <p>{{trade.quantity}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Stop Loss</p>
                    <div class="spacer"></div>
                    <input type="number" [(ngModel)]="trade.stoploss" name="stoploss" placeholder="Stop Loss">
                    <span>{{ trade.stoploss | currency: 'INR' }}</span>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>One R</p>
                    <div class="spacer"></div>
                    <input type="number" [(ngModel)]="trade.oneR" name="oneR" placeholder="1 R">
                    <span>{{ trade.oneR | currency: 'INR' }}</span>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>R-Multiple</p>
                    <p>{{trade.r_multiple | round}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Sector</p>
                    <p>{{trade.sector_name}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Industory</p>
                    <p>{{trade.igroup_name}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Trade Holding Time</p>
                    <p>{{trade.holding_time | holdingTime}}</p>
                </span>
            </div>
            <div class="metric-row">
                <span>
                    <p>Position</p>
                    <p>{{trade.position}}</p>
                </span>
            </div>
        </div>
    </div>
    <div class="execution-details">
        <div *ngFor="let transation of transactions" class="trade-details">
            <app-order-card [transaction]="transation"></app-order-card>
        </div>
    </div>

</div>