.positionSizing-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.dashboard-options {
    display: flex;
    gap: 20px;
}

.sizingOption-row {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: rgba(25, 28, 31, 1);
    border-radius: 8px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.input-output-row {
    display: flex;
    gap: 20px;
}

.input-output-card {
    flex: 1;
    display: flex;
    background: rgba(25, 28, 31, 1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column;
    color: white;
}

button {
    width: 20%;
}