<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" required [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your password" required [(ngModel)]="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="onlogin()">Login</button>
        </mat-card-content>
    </mat-card>
</div>