<div class="appBody">
  <mat-sidenav-container class="sidenav-container" autosize *ngIf="isAuthenticated">
    <mat-sidenav #sidenav="matSidenav" mode="side" role="navigation" opened="isSidenavOpen">
      <mat-nav-list>

        <mat-list-item (click)="isSidenavOpen = !isSidenavOpen">
          <mat-icon class="toggle-button" [ngClass]="{ rotated: isSidenavOpen }">chevron_right</mat-icon>
        </mat-list-item>

        <mat-list-item [routerLink]="''" class="menu-item" (click)="updateTitle('Dashboard')">
          <mat-icon mat-list-icon style="color: #EEC759;">dashboard</mat-icon>
          <span *ngIf="isSidenavOpen"><b>Dashboard</b></span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item [routerLink]="'tradelog'" class="menu-item" (click)="updateTitle('Trade Log')">
          <mat-icon mat-list-icon style="color: #BEADFA;">assessment</mat-icon>
          <span *ngIf="isSidenavOpen"><b>Trade Log</b></span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item [routerLink]="'journal'" class="menu-item" (click)="updateTitle('Journal')">
          <mat-icon mat-list-icon style="color: #FF9B9B;">book</mat-icon>
          <span *ngIf="isSidenavOpen"><b>Journal</b></span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item [routerLink]="'positionSizing'" class="menu-item" (click)="updateTitle('Position Sizing')">
          <mat-icon mat-list-icon style="color: #CAF7E3;">compare</mat-icon>
          <span *ngIf="isSidenavOpen"><b>Position sizing</b></span>
        </mat-list-item>

        <mat-divider></mat-divider>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="region" class="sidenav-content">
      <div class="navbar">
        <app-navbar [title]="title"></app-navbar>
      </div>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="unAuth" *ngIf="!isAuthenticated">
    <app-navbar [title]="title"></app-navbar>
    <app-authentication></app-authentication>
  </div>
</div>