<div class="appBody">
  <div class="navbar">
    <app-navbar (toggleSidenavEvent)="toggleSidenav()"></app-navbar>
  </div>
  <div class="mainBody">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav="matSidenav" mode="side" class="sidenav" role="navigation" opened>
        <div class="sidenavList">
          <mat-nav-list>
            <mat-list-item>
              <a routerLink="/">Dashboard</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLink="/tradelog">Trade Log</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLink="/journal">Journal</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <a routerLink="/positionSizing">Position sizing</a>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-nav-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content role="region">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>