<div class="upload-file">
    <div class="file-import-date" *ngIf="selectedAccount != null">
        <b>Last Import {{selectedAccount.lastImportFromDate | dateFormat: 'dd MMM yyyy'}} To
            {{selectedAccount.lastImportToDate| dateFormat: 'dd MMM yyyy'}}</b>
    </div>
    <div class="spacer"></div>
    <div class="import-button-container">
        <input type="file" accept=".csv" (change)="onFileSelected($event)" style="display: none;" #fileInput>
        <button mat-raised-button class="upload"
            (click)="fileInput.click()"><mat-icon>add_circle</mat-icon>Import</button>
    </div>
</div>