.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.dashboard-options {
    display: flex;
    gap: 20px;
    color: white;
}

.stats-row {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: rgba(25, 28, 31, 1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}

.chart-row {
    display: flex;
    gap: 20px;
}

.chart-card {
    flex: 1;
    background: rgba(25, 28, 31, 1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}

.trade-calendar-row {
    display: flex;
    gap: 20px;
}

.trade-card,
.calendar-card {
    background: rgba(25, 28, 31, 1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}

.trade-card {
    width: 30%;
}

.calendar-card {
    width: 70%;
}