<div class="dashboard-container">
    <div class="dashboard-options">
        <div class="spacer"></div>
        <app-upload-file></app-upload-file>
    </div>
    <!-- Row 1: Stats Cards -->
    <div class="stats-row">
        <!-- Card 1: Total Sales -->
        <div class="card">
            <h2>Total Trades</h2>
            <p>{{tradeService.tradeMetrics.totalTrades}}</p>
        </div>

        <!-- Card 2: Revenue -->
        <div class="card">
            <h2>Win Percentage</h2>
            <p>{{tradeService.tradeMetrics.winPercentage | round:true}}</p>
        </div>

        <!-- Card 3: Expenses -->
        <div class="card">
            <h2>Profit Factor</h2>
            <p>{{tradeService.tradeMetrics.profitFactor | round}}</p>
        </div>

        <!-- Card 4: Profit -->
        <div class="card">
            <h2>Total Profit</h2>
            <p>{{tradeService.tradeMetrics.totalProfit | currency: 'INR'}}</p>
        </div>

        <div class="card">
            <h2>Avg Holding Time</h2>
            <p>{{tradeService.tradeMetrics.avgHoldingTime | holdingTime}}</p>
        </div>
    </div>

    <!-- Row 2: Trade and Calendar Cards -->
    <div class="trade-calendar-row">
        <!-- Trade Card -->
        <div class="trade-card">
            <!-- Row 2: TradeTabs -->
            <div class="trade-tabs">
                <button class="tab" [class.active]="selectedTradeType === 'closed'"
                    (click)="selectTradeType('closed')">Closed
                    Trades</button>
                <button class="tab" [class.active]="selectedTradeType === 'open'" (click)="selectTradeType('open')">Open
                    Trades</button>
            </div>

            <!-- Row 3: Chart Cards -->
            <div class="grid-row">
                <ag-grid-angular *ngIf="selectedTradeType === 'closed'" style="height: 100%; margin-top: 15px;"
                    class="ag-theme-alpine" [rowData]="tradeService.closedTradeRowData"
                    [gridOptions]="tradeService.tradelogGridOptions" [defaultColDef]="tradeService.defaultColDef"
                    [columnDefs]="closedTradeColDefs" [suppressRowClickSelection]="false" [sideBar]="false"
                    [pagination]="false" (gridReady)="tradeService.onTradelogGridReady($event)">
                </ag-grid-angular>

                <ag-grid-angular *ngIf="selectedTradeType === 'open'" style="height: 100%; margin-top: 15px;"
                    class="ag-theme-alpine" [rowData]="tradeService.openTradeRowData"
                    [gridOptions]="tradeService.tradelogGridOptions" [defaultColDef]="tradeService.defaultColDef"
                    [columnDefs]="openTradeColDefs" [suppressRowClickSelection]="false" [sideBar]="false"
                    [pagination]="false" (gridReady)="tradeService.onTradelogGridReady($event)">
                </ag-grid-angular>
            </div>

        </div>

        <!-- Calendar Card -->
        <div class="calendar-card">
            <h2>Calendar</h2>
            <app-calander></app-calander>
        </div>
    </div>

    <!-- Row 3: Chart Cards -->
    <div class="chart-row">
        <!-- Chart Card 1: Sales Chart -->
        <div class="chart-card">
            <h2>Sales Chart</h2>
            <!-- Add your chart component here -->
        </div>

        <!-- Chart Card 2: Revenue Chart -->
        <div class="chart-card">
            <h2>Revenue Chart</h2>
            <!-- Add your chart component here -->
        </div>

        <!-- Chart Card 3: Expenses Chart -->
        <div class="chart-card">
            <h2>Expenses Chart</h2>
            <!-- Add your chart component here -->
        </div>
    </div>
</div>