.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 96%;
    padding: 1%;
}

.dashboard-options {
    display: flex;
    gap: 20px;
    color: white;
}

.stats-row {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: rgba(25, 28, 31, 1);
    border-left: solid 2px var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}

.chart-row {
    display: flex;
    gap: 20px;
}

.chart-card {
    flex: 1;
    background: rgba(25, 28, 31, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    margin-bottom: 1%;
}

.trade-calendar-row {
    display: flex;
    gap: 20px;
}

.trade-card,
.calendar-card {
    background: rgba(25, 28, 31, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}

.trade-card {
    width: 30%;
}

.calendar-card {
    width: 70%;
}

app-upload-file {
    width: 30%;
}

.grid-row {
    width: 100%;
    height: 65%;
    border-bottom: solid 1px var(--secondary-background-color);
}

.tab {
    flex: 1;
    background: var(--secondary-background-color);
    padding: 12px;
    color: white;
    cursor: pointer;
    border: none;
}

.tab.active {
    background-color: var(--primary-color);
    color: white;
    /* Adjust the color as needed */
}

.tab:hover {
    border-bottom: solid 2px white;
}