/* You can add global styles to this file, and also import other style files */

@import "ag-grid-community/styles//ag-grid.css";
@import "ag-grid-community/styles//ag-theme-alpine.css";

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: xx-small;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

strong {
    margin-right: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.spacer {
    flex: 1 1 auto;
}

.gradient-text {
    background: linear-gradient(90deg, #35AE9A 25.41%, rgba(0, 135, 169, 0.6) 103.95%);
    /* Define your gradient colors */
    -webkit-background-clip: text;
    /* Apply text clipping for WebKit browsers */
    background-clip: text;
    /* Apply text clipping for other browsers */
    color: transparent;
    /* Make the text transparent */
}

mat-divider {
    background-color: var(--secondary-background-color);
}

:root {
    --primary-color: #35AE9A;
    --background-color: #030303;
    --secondary-color: #EEC759;
    --secondary-background-color: rgba(255, 255, 255, .1);
    --light-font: #aeaeae;
}

.ag-theme-alpine {
    --ag-foreground-color: var(--light-font);
    --ag-background-color: var(--background-color);
    --ag-header-foreground-color: white;
    --ag-header-background-color: var(--background-color);
    --ag-odd-row-background-color: var(--secondary-background-color);
    --ag-header-column-resize-handle-color: var(--secondary-background-color);
    --ag-border-color: var(--secondary-background-color);
    --ag-row-border-color: transparent;

    --ag-font-size: 17px;
    --ag-font-family: monospace;
}